@media (min-width: 1024px) {
  /* apply flex styles only on screens with a minimum width of 1024px (laptop size) */
  .card-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
}
