@media (min-width: 1024px) {
  /* apply flex styles only on screens with a minimum width of 1024px (laptop size) */
  .card-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 1025px) {
  /* hide the element when screen size is less than or equal to 768px */
  .screen {
    display: none;
  }
  .small-screen {
    display: block !important;
    text-align: center;
    color: white;
    margin-top: 100px;
  }
}

.small-screen {
  display: none;
  color: white;
}
